python-dotenv==1.0.* # import .env file
pyodbc==4.0.* # connect to sccm
django-cas-ng==4.3.* # CAS authentication
Django==4.2.*
djangorestframework==3.14.* # REST API
drf-yasg==1.21.* # Swagger
django-extensions==3.2.* # python manage.py runscript <script>
ldap3==2.9.*
ping3==4.0.*
mysqlclient==2.2.*
msgraph-core==1.0.*
azure-core==1.30.*
azure-identity==1.15.*