{% extends base_template %}

{% load i18n static %}

{# title #}
{% block title %}Active Directory Copilot{% endblock %}

{% block dynamic_head_content %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'myview/css/active-directory-copilot.css' %}" />
{% endblock %}

<!-- headline for the page -->
{% block headline %}Active Directory Copilot{% endblock %}

{% block main-content %}
<div class="container my-4">
    <h2>Active Directory Copilot</h2>

    <form method="post" id="copilot-form">
        {% csrf_token %}
        <div class="mb-3 position-relative">
            <label for="copilot-submit-textarea-field" class="form-label">Copilot
                <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Enter your query for Active Directory" data-bs-html="true"></i>
            </label>
            <textarea id="copilot-submit-textarea-field" name="text" cols="60" rows="1" required="" class="form-control" style="padding-right: 80px;">
                List af brugere som ikke har skiftet password siden 2022. Limit 3
                </textarea>
            <button type="submit" id="copilot-submit-btn" class="btn btn-primary">
                Go
                <span id="loadingSpinnerCopilot" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
        </div>
    </form>

    <!-- Container to display the result -->
    <div id="copilot-result-container" style="display: none;">
        <h3>Query Result</h3>
        <pre id="copilot-result"></pre>
        <button id="download-json-btn" class="btn btn-success">Download JSON</button>
    </div>
</div>

<script src="{% static 'myview/js/active-directory-copilot.js' %}" defer></script>
{% endblock %}
