{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}


{# title #}
{% block title %}Front page{% endblock %}

{% block dynamic_head_content %}

{% endblock %}


<!-- headline for the page -->
{% block headline %}Frontpage{% endblock %}

{% block main-content %}


<div class="container my-4">
        
        
        <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Requires superuser rights &lt;br&gt; The button is used if the AD group does not appear" data-bs-html="true"></i>
        
        {% if is_superuser %}
        <button id="syncAdUsersBtn" class="btn btn-primary">
        {% else %}
        <button id="syncAdUsersBtn" class="btn btn-primary" disabled>
        {% endif %}
        Perform ADGroup Sync
        <span id="loadingSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>




<div class="container my-4"></div>
    <!-- New button to generate a new token -->
    <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="The token will only be displayed once!" data-bs-html="true"></i>
    <button id="generateTokenBtn" class="btn btn-primary">
        Generate New Token
    </button>

    <!-- Element to display the token -->
    <pre id="tokenDisplay" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
    <!-- <button id="copyTokenBtn" class="btn btn-secondary" disabled>
        <i class="fas fa-copy"></i>
    </button> -->
    <!-- Button to copy the token -->
    <!-- <button id="copyTokenBtn" class="btn btn-secondary" disabled>
        Copy Token
    </button> -->

</div>




<div class="container my-4">
    <h2>My Accessible Endpoints</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Endpoint</th>
                    <th scope="col"><i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="These groups gives you permission to the endpoint" data-bs-html="true"></i> AD Group</th>
                </tr>
            </thead>
            <tbody>
                {% for endpoint in user_endpoints %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ endpoint.method }} {{ endpoint.path }}</td>
                    <td>
                        {% for ad_group in endpoint.ad_groups.all %}
                        {{ ad_group.cn }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="container my-4">
    <h2>My Accessible Ressources</h2>
</div>  

<script src="{% static 'myview/js/frontpage.js' %}" defer></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'myview/css/frontpage.css' %}" />
{% endblock %}

