{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}

{# title #}
{% block title %}Front page{% endblock %}


{% block dynamic_head_content %}

{% endblock %}


<!-- headline for the page -->
{% block headline %}Frontpage{% endblock %}

{% block main-content %}


{% if token %}


<div id="tokenDisplay">{{token}}</div>
<button onclick="regenerateToken()">Regenerate Token</button>
{% else %}
<div id="tokenDisplay"></div>
<button onclick="generateToken()">Generate Token</button>
{% endif %}


<script src="{% static 'myview/js/frontpage.js' %}" defer></script>
{% endblock %}