{% extends base_template %}


{% load i18n static %}

{# title #}
{% block title %}Front page{% endblock %}


{% block dynamic_head_content %}

{% endblock %}


<!-- headline for the page -->
{% block headline %}Frontpage{% endblock %}

{% block main-content %}
<div class="container my-4">
    <h2>MFA User Lookup</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username
                <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Azure principal name&lt;br&gt; vicre-test01@dtudk.onmicrosoft.com &lt;br&gt; vicre@dtu.dk" data-bs-html="true"></i>
            </label>
            {{ form.username }}
        </div>
        <button type="submit" id="mfa-user-lookup-submit-btn" class="btn btn-primary">
            Submit
            <span id="loadingSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </button>
    </form>

    <div id="dataContainer">
        <!-- Cards will be appended here -->
    </div>
</div>

<!-- 
<script>
    const data = {
        "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users('vicre-test01%40dtudk.onmicrosoft.com')/authentication/methods",
        "value": [
            {
                "@odata.type": "#microsoft.graph.passwordAuthenticationMethod",
                "id": "28c10230-6103-485e-b985-444c60001490",
                "password": null,
                "createdDateTime": "2024-03-12T13:25:21Z"
            },
            {
                "@odata.type": "#microsoft.graph.microsoftAuthenticatorAuthenticationMethod",
                "id": "123e4441-eadf-4950-883d-fea123988824",
                "displayName": "iPhone 12",
                "deviceTag": "SoftwareTokenActivated",
                "phoneAppVersion": "6.8.3",
                "createdDateTime": null
            }
        ]
    };

    const container = $('#dataContainer');

    data.value.forEach(item => {
        const card = `
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">${item['@odata.type']}</h5>
                    <p class="card-text">ID: ${item.id}</p>
                    <p class="card-text">Created: ${item.createdDateTime || 'N/A'}</p>
                    <button class="btn btn-danger">Remove</button>
                    <button class="btn btn-info">Info</button>
                </div>
            </div>
        `;

        container.append(card);
    });
</script> -->




<script src="{% static 'myview/js/mfa-reset.js' %}" defer></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'myview/css/mfa-reset.css' %}" />
{% endblock %}