{% extends base_template %}


{% load i18n static %}

{# title #}
{% block title %}Front page{% endblock %}


{% block dynamic_head_content %}

{% endblock %}


<!-- headline for the page -->
{% block headline %}Frontpage{% endblock %}

{% block main-content %}
<div class="container my-4">
    <h2>MFA User Lookup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="{% static 'myview/js/mfa-reset.js' %}" defer></script>
{% endblock %}