{% extends base_template %}


{% load i18n static %}

{# title #}
{% block title %}MFA Reset{% endblock %}


{% block dynamic_head_content %}

{% endblock %}


<!-- headline for the page -->
{% block headline %}MFA Reset{% endblock %}

{% block main-content %}
<div class="container my-4">
    <h2>MFA User Lookup</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id-userprincipalname" class="form-label">userPrincipalName
                <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="userPrincipalName&lt;br&gt; vicre-test01@dtudk.onmicrosoft.com &lt;br&gt; vicre@dtu.dk" data-bs-html="true"></i>
            </label>
            <input type="text" class="form-control" id="id-userprincipalname" name="userprincipalname" required value="vicre-test01@dtudk.onmicrosoft.com">
        </div>
        <button type="submit" id="mfa-user-lookup-submit-btn" class="btn btn-primary">
            Submit
            <span id="loadingSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        </button>
    </form>

    <div id="cards-container">
        <!-- Cards will be appended here -->
    </div>
</div>

<script src="{% static 'myview/js/mfa-reset.js' %}" defer></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static 'myview/css/mfa-reset.css' %}" />
{% endblock %}